{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div style="margin-bottom: 10px">
        <a class="btn btn-primary" href="/userInfo/add/">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            新建用户
        </a>
        <a class="btn btn-primary" href="/userInfo/modelForm/add/">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            基于ModelForm新建用户
        </a>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            用户列表
        </div>
        <!-- Table -->
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>姓名</th>
                <th>密码</th>
                <th>年龄</th>
                <th>余额</th>
                <th>部门名称</th>
                <th>性别</th>
                <th>入职时间</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in data_list %}
            <tr>
                <td>{{ obj.id }}</td>
                <td>{{ obj.name }}</td>
                <td>{{ obj.pwd }}</td>
                <td>{{ obj.age }}</td>
                <td>{{ obj.account }}</td>
                <td>{{ obj.depart.title }}</td>
                <td>{{ obj.get_sex_display }}</td>
                <td>{{ obj.create_time | date:"Y-m-d" }}</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="/department/{{ obj.id }}/edit/">编辑</a>
                    <a class="btn btn-danger btn-xs" href="/department/delete/?id={{ obj.id }}">删除</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}